| "setup.ml"             -> no
| "myocamlbuild.ml"      -> no
| ".*\.txt"             -> no
| ".*\.txt-exp"         -> no
| ".*\.html"            -> no
| ".*\.patch"           -> no
| ".*\.mkd"             -> no
| ".*\.mod"             -> no
| ".*\.mlify"           -> no
| "configure"            -> no
| ".*\.sh"              -> skip match:"#!.*"
| ".*\.sh"              -> frame open:"#" line:"#" close:"#"
| ".*\.ml\.ab"         -> frame open:"(*" line:"*" close:"*)" margin:" "
| ".*\.mli?"            -> skip match:"(\*pp .* \*)"
| ".*\.mli?"            -> frame open:"(*" line:"*" close:"*)" margin:" "
| "_headache\.config"   -> frame open:"#" line:"#" close:"#"
| "META"                 -> frame open:"#" line:"#" close:"#"
| ".*\.js"              -> frame open:"/*" line:"*" close:"*/" margin:" "
| ".*\.css"             -> frame open:"/*" line:"*" close:"*/" margin:" "
| "_oasis"               -> no
| "_header"              -> no
| ".*\.swp"             -> no
| ".*\.po"              -> no
| ".*\.po.bak"          -> no
| ".*\.mo"              -> no
| "POTFILES"             -> no
| "LINGUAS"              -> no
| ".*\.pot"             -> no
| ".*\.png"             -> no
| ".*\.mllib"           -> no
| ".*\.itarget"         -> no
| ".*\.itarget.in"      -> no
| ".*\.odocl"           -> no
| "_tags"                -> no
| "\.boring"            -> no
| "\.gitignore"         -> no
| ".*\.pdf"             -> no
| "setup\.log"          -> no
| "setup\.data"         -> no
| ".*\.data"            -> no
| ".*\.tar\.gz"        -> no
| ".*\.tar\.gz\.asc"  -> no
| ".*\.lua"             -> no
