################################################################################
#  jingoo: Template engine inspired by Jinja2.                                 #
#                                                                              #
#  Copyright (C) 2011-2013 by Masaki WATANABE                                  #
#                                                                              #
#  All rights reserved.                                                        #
#                                                                              #
#  Permission is hereby granted, free of charge, to any person obtaining a     #
#  copy of this software and associated documentation files (the "Software"),  #
#  to deal in the Software without restriction, including without limitation   #
#  the rights to use, copy, modify, merge, publish, distribute, sublicense,    #
#  and/or sell copies of the Software, and to permit persons to whom the       #
#  Software is furnished to do so, subject to the following conditions:        #
#                                                                              #
#  The above copyright notice and this permission notice shall be included in  #
#  all copies or substantial portions of the Software.                         #
#                                                                              #
#  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR  #
#  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,    #
#  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL    #
#  THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER  #
#  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING     #
#  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER         #
#  DEALINGS IN THE SOFTWARE.                                                   #
################################################################################

| "setup.ml"             -> no
| "myocamlbuild.ml"      -> no
| ".*\.txt"             -> no
| ".*\.txt-exp"         -> no
| ".*\.html"            -> no
| ".*\.patch"           -> no
| ".*\.mkd"             -> no
| ".*\.mod"             -> no
| ".*\.mlify"           -> no
| "configure"            -> no
| ".*\.sh"              -> skip match:"#!.*"
| ".*\.sh"              -> frame open:"#" line:"#" close:"#"
| ".*\.ml\.ab"         -> frame open:"(*" line:"*" close:"*)" margin:" "
| ".*\.mli?"            -> skip match:"(\*pp .* \*)"
| ".*\.mli?"            -> frame open:"(*" line:"*" close:"*)" margin:" "
| "_headache\.config"   -> frame open:"#" line:"#" close:"#"
| "META"                 -> frame open:"#" line:"#" close:"#"
| ".*\.js"              -> frame open:"/*" line:"*" close:"*/" margin:" "
| ".*\.css"             -> frame open:"/*" line:"*" close:"*/" margin:" "
| "_oasis"               -> no
| "_header"              -> no
| ".*\.swp"             -> no
| ".*\.po"              -> no
| ".*\.po.bak"          -> no
| ".*\.mo"              -> no
| "POTFILES"             -> no
| "LINGUAS"              -> no
| ".*\.pot"             -> no
| ".*\.png"             -> no
| ".*\.mllib"           -> no
| ".*\.itarget"         -> no
| ".*\.itarget.in"      -> no
| ".*\.odocl"           -> no
| "_tags"                -> no
| "\.boring"            -> no
| "\.gitignore"         -> no
| ".*\.pdf"             -> no
| "setup\.log"          -> no
| "setup\.data"         -> no
| ".*\.data"            -> no
| ".*\.tar\.gz"        -> no
| ".*\.tar\.gz\.asc"  -> no
| ".*\.lua"             -> no
| "COPYING"             -> no
| "LICENSE"             -> no
| "AUTHORS"             -> no
| "COPYING"             -> no
| "INSTALL"             -> no
| "CHANGES"             -> no
| "README.md"           -> no
| ".*\.tmpl"            -> no
